Repository dmn-tck/tck, pull requests merged in 2021-02, with the labels that each got.

#367 0092-feel-lambda
  TestCases/compliance-level-3/0092-feel-lambda/0092-feel-lambda-test-01.xml
  TestCases/compliance-level-3/0092-feel-lambda/0092-feel-lambda.dmn
Labels: TCK TEST, approved

#373 Update marshaller for compatibility with JDK 9 upwards
  runners/dmn-tck-marshaller/pom.xml
Labels: infrastructure

#403 Migrate TravisCI settings to GitHub Actions
  .github/workflows/global_validation.yml
  .github/workflows/optional_camunda.yml
  .github/workflows/optional_drools.yml
Labels: infrastructure

#385 Fix variable.typeRef for BKMs
  TestCases/compliance-level-3/0082-feel-coercion/0082-feel-coercion.dmn
  TestCases/compliance-level-3/0086-import/Imported_Model.dmn
  TestCases/compliance-level-3/0087-chapter-11-example/0087-chapter-11-example.dmn
  TestCases/non-compliant/0019-flight-rebooking/0019-flight-rebooking.dmn
Labels: TCK TEST

#369 New tests case for DMN 1.3 interval functions
  TestCases/compliance-level-3/1130-feel-interval/1130-feel-interval-test-01.xml
  TestCases/compliance-level-3/1130-feel-interval/1130-feel-interval.dmn
Labels: TCK TEST

#388 DMN 1.3 abs
  TestCases/compliance-level-3/0050-feel-abs-function/0050-feel-abs-function-test-01.xml
  TestCases/compliance-level-3/0050-feel-abs-function/0050-feel-abs-function.dmn
Labels: TCK TEST
